[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-mongoengine = "*"
flask-login = "*"
flask-restful = "*"
flask-bcrypt = "*"
uuid = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
