{% extends "base.html" %}

{% block title %}
Littlefy Home
{% endblock %}

{% block contents %}
<div class="container column is-full is-centered box">
  <form method="post">
    <div class="field m-4 control">
      <p class="control has-icons-left">
        <input
          class="input is-rounded is-primary"
          type="text"
          placeholder="Paste you link here"
          name="url"
        />
        <span class="icon is-small is-left">
          <i class="fa-solid fa-link"></i>
        </span>
      </p>
    </div>
    <div class="container column is-one-fifths is-centered">
      <button type="submit" class="button is-rounded is-outlined is-primary">
        Littlify
      </button>
    </div>
  </form>
  <a href={{url_for('views.urls')}} class="button is-outlined is-primary is-light is-rounded">Dashboard</a>
</div>
{% endblock %}